
body {
    background-color: #ccf2f4;
}

h1{
    color: #34A7A0;
    font-style: italic;
}

h1:hover{
    color: pink;
    font-size: 40px;
    transition: 0.8s;
}

h3{
    color: #34A7A0;
    font-style: italic;
}

img:hover {
    background-color: goldenrod;
    width: 210px;
    height: 210px;
    transition: width 0.5s, height 0.5s;
}

hr {
    border-style: none;
    border-top: 5px dotted #00adb5;
    width: 5%;
}

.snake {
    background-color: turquoise;
}

.circular {
    border-radius: 20%;

}

#heading{
    color: #34A7A0;
}